{% extends 'base.html'%}
{% block content %}
{% load static %}
<body>

<div id="signUp">

 <form action="/register_data/" method="post" id="signUp_form">
  {% csrf_token %}

  Имя:<br>
  <input type="text" name="firstname"><br>
  Фамилия:<br>
  <input type="text" name="lastname">
  <br>
  Логин: <br>
  <input type="text" name="login">
  <br>
  Email: <br>
  <input type="text" name="email">
  <br>
  Пароль: <br>
  <input type="text" name="password">
  <br>
  <input type="submit" value="Регистрация" id="signUp_button" >
 </form>
</div>
</body>


{% endblock %}